<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Tugas 1 Landing Page</title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>
	
<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
	<h3>Sistem Informasi Kepegawaian</h3>
	<p>Selamat datang di Sistem Informasi Kepegawaian</p>
	<hr>
	
	<h3>Lihat Data Pegawai berdasarkan NIP</h3>
	<form th:action="@{/pegawai/}" method="GET">
		<div class="card-body">
			<label for="nip">Masukkan Nomor Induk Pegawai</label>
			<input type="text" name="nip" class="form-control" />
			<button type="submit" class="btn btn-primary">Cari</button>
		</div>
	</form>
	
	<hr>
	<h3>Lihat Detail Jabatan</h3>
	<form th:action = "@{/jabatan/view}" method = "GET">
		<label for="jabatanId">Pilih Jabatan</label>
			<div class="card-body">
		<select class="form-control" required="required" name="jabatanId">
			<option th:each="jabatan : ${jabatanList} " th:text="${jabatan.nama}" th:value="${jabatan.id}"></option>
		</select>
		<br>
		<button type="submit" class="btn bthn-primary">Lihat</button>
			</div>
	</form>
</body>


</html>