<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>View Jabatan</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>
<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
	<h3 th:text="'Detail ' + ${jabatan.nama}"></h3>
	<p th:text="'Nama					' + ${jabatan.nama}"></p>
	<p th:text="'Deskripsi				' + ${jabatan.deskripsi}"></p>
	<p th:text="'Gaji Pokok				' + ${jabatan.gajiPokok}"></p>
	
	<form th:action="@{/jabatan/ubah?jabatanId=} + ${jabatan.id}" th:object="${jabatan}" method ="GET">
		<input type="hidden" th:value="${jabatan.id}" name="jabatanId"></input>
		<button type="submit" class="btn btn-primary">Ubah</button>
	</form>
	<form th:action="@{/jabatan/hapus}" th:object="${jabatan}" method="POST">
		<input type="hidden" th:field="${jabatan.id}"></input>
		<button type="submit" onclick="notify()" class="btn btn-primary">Hapus</button>
	</form>
	
	<script>
	function notify() {
    	alert("Data Berhasil Dihapus");
	}
	</script>
</body>


</html>